@model IEnumerable<KarateJanNine.CommissionTransaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommissionTransactionDate)
        </th>
        <th>
            RefDesc
            @*@Html.DisplayNameFor(model => model.CommissionTransactionReferenceDescription)*@
        </th>
        <th>
            RefID
            @*@Html.DisplayNameFor(model => model.CommissionTransactionReferenceID)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommissionTransactionAmount)
        </th>
        <th>
            TransDesc
            @*@Html.DisplayNameFor(model => model.CommissionTransactionDescription)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommissionBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionTransactionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionTransactionReferenceDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionTransactionReferenceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionTransactionAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionTransactionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommissionTransactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommissionTransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommissionTransactionID })
        </td>
    </tr>
}

</table>
