@model KarateJanNine.Recharge

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recharge</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerID, "Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerID", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NetworkName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NetworkName)
            @Html.ValidationMessageFor(model => model.NetworkName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RechargeAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RechargeAmount)
            @Html.ValidationMessageFor(model => model.RechargeAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateAndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateAndTime)
            @Html.ValidationMessageFor(model => model.DateAndTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RechargeStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RechargeStatus)
            @Html.ValidationMessageFor(model => model.RechargeStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RechargeStatusDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RechargeStatusDescription)
            @Html.ValidationMessageFor(model => model.RechargeStatusDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RechargeReferenceIDFromAPI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RechargeReferenceIDFromAPI)
            @Html.ValidationMessageFor(model => model.RechargeReferenceIDFromAPI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RechargeReferenceIDFromNetwork)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RechargeReferenceIDFromNetwork)
            @Html.ValidationMessageFor(model => model.RechargeReferenceIDFromNetwork)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModifiedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModifiedDate)
            @Html.ValidationMessageFor(model => model.LastModifiedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModifiedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModifiedBy)
            @Html.ValidationMessageFor(model => model.LastModifiedBy)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
