@{
    Layout = null;
}
@model KarateJanNine.CashTransaction

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

<style type="text/css">
    input, select {
        padding: 10px;
        width: 98%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<fieldset>
        <legend>CashTransaction</legend>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CustomerID, "Customer")
        </div>*@
        <div class="editor-field">
            @Html.DropDownList("CustomerID","Select Customer")
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IsCredit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsCredit)
            @Html.ValidationMessageFor(model => model.IsCredit)
        </div>*@

        @*<div class="editor-label">*@
            @*@Html.LabelFor(model => model.CashTransactionDate)*@
            @*Trans Date
        </div>*@
        <p>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CashTransactionDate, new { placeholder = "Trans Date" })
                @Html.ValidationMessageFor(model => model.CashTransactionDate)
            </div>
        </p>

        @*<div class="editor-label">*@
            @*@Html.LabelFor(model => model.CashTransactionReferenceDescription)*@
            @*Ref. Description
        </div>*@
        <p>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CashTransactionReferenceDescription, new { placeholder = "Ref. Description" })
                @*@Html.EditorFor(model => model.CashTransactionReferenceDescription)*@
                @Html.ValidationMessageFor(model => model.CashTransactionReferenceDescription)
            </div>
        </p>

        @*<div class="editor-label">
            Ref. ID*@
            @*@Html.LabelFor(model => model.CashTransactionReferenceID)*@
        @*</div>*@
        <p>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CashTransactionReferenceID, new { placeholder = "Ref. ID" })
                @Html.ValidationMessageFor(model => model.CashTransactionReferenceID)
            </div>
        </p>

        @*<div class="editor-label">
            Trans Amount*@
            @*@Html.LabelFor(model => model.CashTransactionAmount)*@
        @*</div>*@
        <p>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CashTransactionAmount, new { placeholder = "Trans Amount" })
                @Html.ValidationMessageFor(model => model.CashTransactionAmount)
            </div>
        </p>

        @*<div class="editor-label">
            Trans Description*@
            @*@Html.LabelFor(model => model.CashTransactionDescription)*@
        @*</div>*@
        <p>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CashTransactionDescription, new { placeholder = "Trans Description" })
                @Html.ValidationMessageFor(model => model.CashTransactionDescription)
            </div>
        </p>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CashBalance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CashBalance)
            @Html.ValidationMessageFor(model => model.CashBalance)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>*@
        <p>
            @*<div class="editor-label">
                @Html.LabelFor(model => model.CreatedBy)
            </div>*@
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CreatedBy, new { placeholder = "Created By" })
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    @*</fieldset>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
