@model KarateJanNine.CashTransaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CashTransaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.CustomerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsCredit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCredit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashTransactionDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashTransactionDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashTransactionReferenceDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashTransactionReferenceDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashTransactionReferenceID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashTransactionReferenceID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashTransactionAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashTransactionAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashTransactionDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashTransactionDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashBalance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashBalance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
