@{ 
    Layout = null;
}

@model KarateJanNine.Customer

@{
    ViewBag.Title = "Create";
}
<style type="text/css">
    input {
        padding: 10px;
        width: 98%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }
</style>
@*<h2>Create</h2>*@

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<fieldset>
        <legend>Customer</legend>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CustomerName)
        </div>*@
<p>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.CustomerName, new { placeholder = "CustomerName" })
        @*@Html.ValidationMessageFor(model => model.CustomerName)*@
    </div>
</p>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>*@
<p>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserName, new { placeholder = "UserName" })
        @*@Html.ValidationMessageFor(model => model.UserName)*@
    </div>
</p>
        @*<div class="editor-label">
           @Html.LabelFor(model => model.Password)
        </div>*@
<p>
    <div class="editor-field">
        @*@Html.EditorFor(model => model.Password)*@
        @Html.TextBoxFor(model => model.Password, new { placeholder = "Password" })
        @*@Html.ValidationMessageFor(model => model.Password)*@
    </div>
</p>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.ContactNumber)
        </div>*@
<p>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ContactNumber, new { placeholder = "Contact Number" })
        @*@Html.ValidationMessageFor(model => model.ContactNumber)*@
    </div>
</p>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>*@
<p>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EmailAddress, new { placeholder = "Email Address" })
        @*@Html.ValidationMessageFor(model => model.EmailAddress)*@
    </div>
</p>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.ContactAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactAddress)
            @Html.ValidationMessageFor(model => model.ContactAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModifiedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModifiedDate)
            @Html.ValidationMessageFor(model => model.LastModifiedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModifiedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModifiedBy)
            @Html.ValidationMessageFor(model => model.LastModifiedBy)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    @*</fieldset>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
